<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/homepage.css">

</head>

<body>

    <div class="layout">
        <div class="sidebar">
            <ul class="components">
                <li>
                    <a href="#" id="active">
                        <span class="icon dashicon"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="components">Dashboard</span>
                    </a>
                </li>
                <li>

                <li>
                    <a href="#">
                        <span class="icon helpicon"><i class="fa-solid fa-info"></i></span>
                        <span class="components">Support & Help</span></a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon settingicon"><i class="fa-solid fa-gear"></i></span>
                        <span class="components">Settings</span></a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon logouticon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span class="components">Logout</span></a>
                </li>

            </ul>
        </div>
        <div class="content">

            <section class="main">
                <h1>Dashboard</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Total Patients</h5>
                                <p class="card-text">25</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to
                                    additional
                                    content.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This card has even longer content than the first to show that
                                    equal
                                    height
                                    action.</p>
                            </div>

                        </div>
            </section>

            <section class="main">
                <h1>Dashboard</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Total Patients</h5>
                                <p class="card-text">25</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to
                                    additional
                                    content.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This card has even longer content than the first to show that
                                    equal
                                    height
                                    action.</p>
                            </div>

                        </div>
            </section>
        </div>



    </div>



</body>

</html>